# ======================
# JAVA / SPRING BOOT
# ======================
target/
*.class
*.jar
*.war
*.ear
logs/

# ======================
# NODE / REACT
# ======================
node_modules/
dist/
build/
.env

# ======================
# IDE
# ======================
.idea/
.vscode/
*.iml

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# MISC
# ======================
*.log